{% extends 'hrumshop/base.html' %}

{% block content %}
<h1> {{name}} </h1>
<h1> {{ses}} </h1>
<h1> {{cart_1}} </h1>

<div class="change_product"> 
	<form class="form_buy_product" id="form_buy_product_{{ product.id }}" action="{% url 'cart_add' %}"> {% csrf_token %}
		<input class="input_quantity" type="text" value="1" size="2" id="quantity" data-max-count="30" />
    	<button class="bt_buy_product" id="submit_btn" type="submit" 
        	data-id = "{{ product.id }}"
        	data-price = "{{ product.price }}">
    		<span>В корзину</span>
    	</button>       
	</form>
	<div>
    <button class="bt_minus">
        <svg viewBox="0 0 24 24" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>
   </div>
    <button class="bt_plus">
        <svg viewBox="0 0 24 24" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>
</div>


{% endblock %}